<div class="container">
    <div class="logo">
        <a href="https://github.com/MiracleGlow"><img src="https://raw.githubusercontent.com/MiracleGlow/asset/master/icon/20240503_180744.png" alt="Miracle"></a>
    </div>
    <nav id="navMenu">
        <ul class="nav-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#about">Daftar Resep</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="Menu-btn" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>